* {
  box-sizing: border-box;
}

.App {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid rosybrown;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.box-1 {
  width: 28%;
}

.box-2 {
  width: 65%;
  border: 1px solid rosybrown;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 15px;
}

.list-countries {
  max-width: 300px;
  height: 500px;
  overflow: auto;
  padding: 0 10px;
  list-style: none;
}

.list {
  margin: 5px 0;
  border: 1px solid rosybrown;
  padding: 5px;
}

.list:hover {
  background-color: #e2b2b2;
}
.list:visited {
  background-color: #e2b2b2;
}
